* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  margin-top: 8rem;
  padding: 0;
  background-color: #ccc7ca;
}

header {
  position: fixed;
}

@media only screen and (max-width: 720px) {
  header {
    position: absolute;
  }
}

div h1 {
  color: #F79020;
  font-size: 2rem;
  margin: 0;
}

.title {
  color: #F79020;
  font-size: 1.4rem;
  margin: 0;
}

.content,
.nav {
  /* padding-right: 100px; */
}

/* hides dotted lines on all a tags */

a,
a:active,
a:focus {
  outline: none;
}

header {
  border-bottom: 8px solid #41b5c5;
  border-top: 8px solid #642241;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23), 0 0 8px rgba(0, 0, 0, 0.20);
}

.navbar {
  padding: 0px;
  z-index: 1000;
}

nav div h3 {
  z-index: 1500;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.28),0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a.navbar-brand {
  padding-top: .6rem;
  position: sticky;
}

a.navbar-brand img {
  margin-bottom: 8px;
  max-width: 48px;
  max-height: 48px;
  position: relative;
  left: 10px;
  z-index: 600;
  bottom: 2px;
}

.basic-button {
  background-color: #003B4C;
  color: #F79020;
  border-radius: 0px;
  border: 2px solid #009778;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  font-weight: 500;
}

.basic-button:hover,
.basic-button.selected {
  background-color: #F79020;
  color: #642241;
  border: 2px solid #009778;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale(1.04);
}

.basic-button:active {
  background-color: #F79020;
  color: #003B4C;
}

.basic-button.rooms:hover {}

.basic-button.rooms.selected {
  background-color: #642241;
  color: #d4d656;
  border: 2px solid #009778;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.basic-button.rooms:active {
  background-color: #642241;
  color: #d4d656;
}

.button-group {
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  /* position: sticky; */
  top: 126px;
  width: 100vw;
}

.btn-sm {
  margin: 1rem 0 0 4px;
  float: right;
}

.map-button {
  font-size: 80%;
  /* width: 33%; */
}

#home {
  display: block;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

button.landing {
  font-size: 210%;
  min-height: 20vh;
  width: 80vw;
}

button.floors-lg {
  font-size: 160%;
  min-height: 18vh;
  width: 80vw;
}

.navbar a {
  background-color: #003B4C;
  color: #d4d656;
}

.navbar {
  color: #F79020;
  background-color: #003B4C;
}

button.landing:active,
button.floors:active {
  background-color: #F79020;
  color: #003B4C;
}

.landing-btns {
  margin: 2rem 1rem;
  width: 80vw;
}

/* floors selection */

.floors {
  height: 100%;
  text-align: center;
}

.event-detail-card {
  border: 2px solid #d4d656;
  margin: 1rem 10%;
  max-width: 80%;
  padding: 1rem 1rem;
  background-color: #fefeff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.event-detail-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#message {
  color: red;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0 .5rem 0 .5rem;
}

nav ul li {
  margin: 0 .5rem 0 .5rem;
  padding: 0px 2px 0px 2px;
}

nav ul li a:hover {
  text-decoration: none;
  transform: scale(1.04);
}

ul li.selected {
  border-bottom: 2px solid #41b5c5;
}



input[type=text],
textarea[type=text],
select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 80%;
}

label {
  width: 20%;
}

.event-pic {
  width: 100vw;
  height: 80%;
  opacity: 20%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.event-form {
  background-color: rgb(245, 245, 245);
}

.event-page-button {
  float: right;
  color: #fff;
  background-color: #F79020;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 2.5rem;
  padding: 0 1.4rem;
}

.box {
  border: 2px solid #009778;
  background-color: #dddddd;
  text-align: center;
  width: 115px;
  height: 115px;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.20);
}

.grid-cell {
  display: block;
  -webkit-box-flex: 1;
  flex: 1;
  padding-left: 2em;
}

.month {
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 8px;
}

.day {
  font-size: 65px;
  font-weight: 500;
  margin: 0px;
}

.time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.category {
  color: rgb(146, 146, 146);
}

.address p {
  margin: 0px;
}

.title {
  color: #642241;
  font-weight: 300;
  text-decoration: none;
  outline: 0;
  transition: all .3s ease;
  background-color: transparent;
}

.grid {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  flex-wrap: wrap;
}

.btn-group {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 3px 4px rgba(0, 0, 0, 0.21), 0 3px 6px 8px rgba(0, 0, 0, 0.26);
}

@media all and (max-width: 658px) {
  .btn-group {
    margin-top: 82px;
  }
}

/* display portrait -1000px wide and lanscape +1000 wide */

.map-container {
  margin-top: -90px;
  border-radius: 6px;
  position: relative;
}

.map-container img.portrait {
  width: 100vw;
  background-color: #003b4d;
  padding: 8px;
  margin-top: 12rem;
  /* box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.25); */
  display: none;
}

.map-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container div img.landscape {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  /* box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.25); */
  display: block;
  padding-top: 10vh;
}

@media screen and (orientation: portrait) {
  .map-container img.portrait {
    display: block;
  }
  .map-container div img.landscape {
    display: none;
  }
}

.room-list {
  display: block;
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 420px;
  transform: translate(-50%, -50%);
  text-align: center;
  /* max-width: 95vw; */
  /* margin: 2rem 0px; */


  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

.room {
  width: 420px;
  /* max-width: 400px; */
  text-align: center;
  background-color: #642241;
  border: 2px solid #009778;
  color: #d4d656;
  /* margin: auto; */
  margin-top: auto;
  margin-bottom: auto;
  /* max-width: 90vw; */
}

.room-link {
  font-size: 110%;
}

.room:hover {
  transform: scale(1.02);
  text-align: center;
  background-color: #009778;
  border: 2px solid #d4d656;
  color: #642241;
}

@media all and (max-width: 976px) {
  .room-list {
    max-width: 100vw;
  }
  .room {
    max-width: 90vw;
  }
}

/* transitions */

.trans-enter {
  right: 100px;
}

.trans-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}