:root {
  font-size: 1rem;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #ccc7ca;
  font-family: sans-serif;
  margin: 0;
  margin-top: 8rem;
  padding: 0;
}

header {
  position: fixed;
}

.grid.grid--gutters.location-block,
.detail-block .grid-cell {
  border-top: 1px solid #ccc7ca;
}

@media only screen and (max-width: 720px) {
  :root {
    font-size: 0.8rem;
  }

  header {
    position: absolute;
  }
}

div h1 {
  color: #F79020;
  font-size: 2rem;
  margin: 0;
}

.title {
  color: #F79020;
  font-size: 1.4rem;
  margin: 0;
}

a,
a:active,
a:focus {
  outline: none;
}

header {
  border-bottom: 8px solid #41b5c5;
  border-top: 8px solid #642241;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23), 0 0 8px rgba(0, 0, 0, 0.20);
}

.navbar {
  padding: 0px;
  z-index: 1000;
}

nav div h3 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.28),0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1500;
}

a.navbar-brand {
  padding-top: .6rem;
  position: sticky;
}

a.navbar-brand img {
  bottom: 2px;
  left: 10px;
  margin-bottom: 8px;
  max-width: 48px;
  max-height: 48px;
  position: relative;
  z-index: 600;
}

.basic-button {
  background-color: #003B4C;
  border-radius: 0px;
  border: 2px solid #009778;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #F79020;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.basic-button:hover,
.basic-button.selected {
  background-color: #F79020;
  border: 2px solid #009778;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #642241;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale(1.04);
}

.basic-button:active {
  background-color: #F79020;
  color: #003B4C;
}

.basic-button.rooms.selected {
  background-color: #642241;
  border: 2px solid #009778;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #d4d656;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.basic-button.rooms:active {
  background-color: #642241;
  color: #d4d656;
}

.button-group {
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  top: 126px;
  width: 100vw;
}

.btn-sm {
  float: left;
  margin: 1rem 0 0 4px;
}

.map-button {
  font-size: 80%;
}

#home {
  display: block;
  left: 50vw;
  position: fixed;
  top: 50vh;
  transform: translate(-50%, -50%);
}

button.landing {
  font-size: 210%;
  min-height: 20vh;
  width: 80vw;
}

button.floors-lg {
  font-size: 160%;
  min-height: 18vh;
  width: 80vw;
}

.navbar a {
  background-color: #003B4C;
  color: #d4d656;
}

.navbar {
  background-color: #003B4C;
  color: #F79020;
  justify-content: space-around !important;
}

button.landing:active,
button.floors:active {
  background-color: #F79020;
  color: #003B4C;
}

.landing-btns {
  margin: 2rem 1rem;
  width: 80vw;
}

.floors {
  height: 100%;
  text-align: center;
}

.event-detail-card {
  background-color: #fefeff;
  border: 2px solid #d4d656;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem 10%;
  padding: 1rem 1rem;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 80%;
}

.event-detail-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#message {
  color: red;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 .5rem 0 .5rem;
}

nav ul li {
  margin: 0 .5rem 0 .5rem;
  padding: 0px 2px 0px 2px;
}

nav ul li a:hover {
  text-decoration: none;
  transform: scale(1.04);
}

ul li.selected {
  border-bottom: 2px solid #41b5c5;
}

input[type=text],
textarea[type=text],
select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 80%;
}

label {
  width: 20%;
}

.event-form {
  background-color: rgb(245, 245, 245);
}

.event-page-button {
  background-color: #F79020;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  float: right;
  line-height: 2.5rem;
  padding: 0 1.4rem;
}

.box {
  background-color: #dddddd;
  border: 2px solid #009778;
  border-radius: 2px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.20);
  height: 115px;
  text-align: center;
  width: 115px;
}

div.grid-cell {
  padding: 1rem;
}

.title-card {
  width: 55vw;
}

.month {
  margin-bottom: 0;
  margin-top: 8px;
  text-transform: capitalize;
}

.day {
  font-size: 65px;
  font-weight: 500;
  margin: 0px;
}

.time {
  margin-bottom: 10px;
  margin-top: 10px;
}

.category {
  color: rgb(146, 146, 146);
}

.address p {
  margin: 0px;
}

.title {
  background-color: transparent;
  color: #642241;
  font-weight: 300;
  outline: 0;
  text-decoration: none;
  transition: all .3s ease;
}

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
}

.btn-group {
  bottom: 0;
  box-shadow: 0 1px 3px 4px rgba(0, 0, 0, 0.21), 0 3px 6px 8px rgba(0, 0, 0, 0.26);
  left: 0;
  position: fixed;
  z-index: 1000;
}

@media all and (max-width: 658px) {
  :root {
    font-size: 0.6rem;
  }

  .btn-group {
    margin-top: 82px;
  }

  .box {
    height: 64px;
    width: 64px;
  }

  h6.day {
    font-size: 3rem;
  }

  .btn.btn-sm.btn-outline-info {
    margin: 0;
  }

  .event-detail-card.content:first-child {
    margin-top: 12rem;
  }

  .event-detail-card {
    margin: 1rem 3%;
    width: 94%;
  }

  AdminEvents .event-detail-card {
    height: 100vh;
  }

  EventsPage .event-detail-card {
    height: 50vh;
  }

  .title-block .grid-cell {
    padding-top: 0;
  }

  .btn.btn-sm.btn-outline-info {
    margin-top: 1rem;
  }

  .btn.btn-sm.btn-outline-secondary {
    margin: 1rem 4px 0 0;
  }

  h2.title {
    width: 55vw;
  }

  .admin-heading {
    margin-top: 12rem;
  }
}

.map-container {
  margin-top: -90px;
  border-radius: 6px;
  position: relative;
}

.map-container img.portrait {
  background-color: #003b4d;
  display: none;
  margin-top: 12rem;
  padding: 8px;
  width: 100vw;
}

.map-container div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.map-container div img.landscape {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  padding-top: 10vh;
}

@media screen and (orientation: portrait) {
  .map-container img.portrait {
    display: block;
  }
  .map-container div img.landscape {
    display: none;
  }
}

.room-list {
  display: block;
  left: 50vw;
  position: fixed;
  text-align: center;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 420px;
}

.room {
  background-color: #642241;
  border: 2px solid #009778;
  color: #d4d656;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: 420px;
}

.room-link {
  font-size: 110%;
}

.room:hover {
  background-color: #009778;
  border: 2px solid #d4d656;
  color: #642241;
  text-align: center;
  transform: scale(1.02);
}

@media all and (max-width: 976px) {
  .room-list {
    max-width: 100vw;
  }
  .room {
    max-width: 90vw;
  }
}

.trans-enter {
  right: 100px;
}

.trans-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}
